.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head{
    display: flex;
    justify-content: flex-end; 
    margin-right: 55px;
    gap: 40px;
}

.Titre {
    font-size: 25px;
    margin-left: 4%;
}
  